<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<%- include("../common/header"); %>

    <body>
        <div id="wrapper">
            <%- include('../common/nav'); %>
                <!-- /. NAV SIDE  -->
                <div id="page-wrapper">
                    <div class="header">
                        <h1 class="page-header">
                            添加任务
                            <small></small>
                        </h1>

                    </div>

                    <div id="page-inner">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        添加
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6 form-bottom">
                                                <form id="form" role="form" method="POST" action="/task/add" enctype="multipart/form-data">

                                                    <div class="form-group">
                                                        <label>标题</label>
                                                        <input name="title" class="form-control" placeholder="">
                                                    </div>

                                                    <div class="form-group">
                                                        <label>常规参数</label>
                                                        <textarea name="descs" id="content" class="form-control" placeholder="" style="display: none"></textarea>
                                                    </div>
                                                    <div>
                                                        <div id="paramsContainer"></div>
                                                        <a class="btn cst_next btn-primary" onclick="addParams()">添加</a>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>书记参数</label>
                                                        <textarea name="position1Desc" id="content2" class="form-control" placeholder="" style="display: none"></textarea>
                                                    </div>

                                                    <div>
                                                        <div id="paramsContainer2"></div>
                                                        <a class="btn cst_next btn-primary" onclick="addParams2()">添加</a>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>参与单位(ctrl/shift多选，ctrl+a全选，提交后不可修改，全选将作为个人任务并忽略岗位)</label>
                                                        <select name="partys" style="height: 200px;" multiple="multiple" id="partys" class="form-control">
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>参与岗位（提交后不可修改）</label>
                                                        <select name="positionId" id="positionId" style="height: 160px;" multiple class="form-control">
                                                            <option value="7">普通党员</option>
                                                            <option value="1">书记</option>
                                                            <option value="2">副书记</option>
                                                            <option value="3">组织委员</option>
                                                            <option value="4">宣传委员</option>
                                                            <option value="5">纪检委员</option>
                                                            <option value="6">党小组组长</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>目标岗位（任务由他人完成算到该岗位的任务计数上）</label>
                                                        <select name="targetPositionId" class="form-control">
                                                            <option value="">--不选，算到自己任务计数--</option>
                                                            <option value="7">普通党员</option>
                                                            <option value="1">书记</option>
                                                            <option value="2">副书记</option>
                                                            <option value="3">组织委员</option>
                                                            <option value="4">宣传委员</option>
                                                            <option value="5">纪检委员</option>
                                                            <option value="6">党小组组长</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>任务状态</label>
                                                        <select name="status" class="form-control">
                                                            <option value="1">开启</option>
                                                            <option value="0">关闭</option>
                                                        </select>
                                                    </div>
                                                    <div></div>

                                                    <div class="form-group">
                                                        <label>允许个人提交(如果是个人任务)</label>
                                                        <select name="type1" class="form-control">
                                                            <option value="0">否</option>
                                                            <option value="1">是</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>提醒周期</label>
                                                        <select name="type2" class="form-control">
                                                            <option value="15">每半月</option>
                                                            <option value="30">每月</option>
                                                            <option value="60">每两月</option>
                                                            <option value="60">每三月(季度)</option>
                                                            <option value="183">每半年</option>
                                                            <option value="365">每年</option>
                                                        </select>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label>周期内次数</label>
                                                        <input name="periodCount" class="form-control" type="number" min="1" value="2" placeholder="">
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label>关联个人任务(关联后当该任务提交时，关联的个人任务完成数+1)</label>
                                                        <select name="childtaskId"  class="form-control">
                                                                <option value="" selected>--不关联--</option>
                                                        </select>
                                                    </div>
                                                    <input name="type3" type="hidden" value="1" class="form-control" placeholder="">

                                                    <div class="form-group">
                                                        <label>开始时间</label>
                                                        <input name="starttime" type="date" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>结束时间</label>
                                                        <input name="endtime" type="date" class="form-control" placeholder="">
                                                    </div>

                                                    <div class="form-group">
                                                        <label>任务附件（可多选）</label>
                                                        <input name="file1" type="file" accept="*/*" multiple class="form-control" placeholder="">
                                                    </div>
                                                    <button type="submit" class="btn btn-default btn-block">提交</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.row (nested) -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                    </div>
                    <!-- /. PAGE INNER  -->
                </div>
                <!-- /. PAGE WRAPPER  -->
        </div>
        <!-- /. WRAPPER  -->
        <!-- JS Scripts-->
        <!-- jQuery Js -->
        <%- include("../common/footerJs")%>

            <script>
                function addParams() {
                    $("#paramsContainer").append("<div class='container' style='margin-top:4px;'><i class='fa fa-minus' onclick='$(this).parent().remove()'></i>类型：" +
                        "<select class='type1'><option value='text'>文本</option><option value='date'>日期</option><option value='selectperson'>下拉选人</option>"+
                            "<option value='checkbox'>checkbox选择</option></select></select>" +
                        "，元素：<select class='type2'><option value='input'>input</option><option value='textarea'>textarea</option></select>" +
                        "，标题：<input/></div>")
                }
                
                function addParams2() {
                    $("#paramsContainer2").append("<div class='container' style='margin-top:4px;'><i class='fa fa-minus' onclick='$(this).parent().remove()'></i>类型：" +
                        "<select class='type1'><option value='text'>文本</option><option value='date'>日期</option><option value='selectperson'>下拉选人</option>"+
                            "<option value='checkbox'>checkbox选择</option></select>" +
                        "，元素：<select class='type2'><option value='input'>input</option><option value='textarea'>textarea</option></select>" +
                        "，标题：<input/></div>")
                }

                addParams();
                addParams2();
                jQuery(document).ready(function () {

                    /*
                        Fullscreen background
                    */
                    /*
                        Form validation
                    */
                    var allPartysLength = 0;
                    $.ajax({
                        url: "/user/partys",
                        success: function (d) {
                            if (d.status) {
                                allPartysLength = d.results.length;
                                d.results.forEach(element => {
                                    $("#partys").append("<option value=" + element.partyNo +
                                        " selected>" + element.partyName + "</option>")
                                });
                            }
                        }
                    });

                    
                    $.ajax({
                        url: "/task/page?pageSize=100&pageNumber=0",
                        success: function (d) {
                            if (d.status) {
                                d.data.forEach(element => {
                                    $("select[name='childtaskId']").append("<option value=" + element.id +
                                        ">" + element.title + "</option>")
                                });
                            }
                        }
                    });


                    $('input,textarea').on(
                        'focus',
                        function () {
                            $(this).removeClass('input-error');
                        });
                    $('#form').on('submit', function (e) {
                        let params = [];
                        $("#paramsContainer").find(".container").each(function (i, e) {
                            params.push({
                                element: $(e).find(".type2").val(),
                                type: $(e).find(".type1").val(),
                                title: $(e).find("input").val()
                            });
                        });
                        $("#content").val(JSON.stringify(params));

                        
                        let params2 = [];
                        $("#paramsContainer2").find(".container").each(function (i, e) {
                            params2.push({
                                element: $(e).find(".type2").val(),
                                type: $(e).find(".type1").val(),
                                title: $(e).find("input").val()
                            });
                        });
                        $("#content2").val(JSON.stringify(params2))

                        if ($("#partys").val() && $("#partys").val().length == allPartysLength) {
                            //全选  设为个人任务
                            $("input[name='type3']").val('2');
                        } else {
                            $("input[name='type3']").val('1');
                        }
                        $(this).find('input[type!="file"]').each(function () {
                            if ($(this).val() == "") {
                                e.preventDefault();
                                $(this).addClass('input-error');
                            } else {
                                $(this).removeClass('input-error');
                            }
                        });
                    });


                });

            </script>


    </body>

</html>