
<!DOCTYPE html>
<style>
    input{
        display: block;
    }
    body{
        padding: 5% 20%;
    }
</style>
<form action="/ibeacon/add" method="get" enctyp1e="multipart/form-data">
    
<input name="name" value="111">
<input name="title" value="111">
<input name="descs" value="111">
类型<input name="type" value="2">
<input name="total" value="300">
<input name="deviders" value="7">
<input name="placeId" value="1">
<input name="rules" value="111">
<input name="notice" value="111">
<input name="starttime" type="date">
<input name="endtime" type="date">
<input name="file1" type="file" accept="image/gif,image/jpeg,image/jpg,image/png">
<input name="file2" type="file" accept="image/gif,image/jpeg,image/jpg,image/png">
<input name="file3" type="file" accept="image/gif,image/jpeg,image/jpg,image/png">
<input name="file4" type="file" accept="image/gif,image/jpeg,image/jpg,image/png">
<button type="submit" value="submit">submit</button>

</form>